# dependencies
/node_modules
node_modules/

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
crown-clothing/.firebase/hosting.**.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# firebase
.firebase/
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/actions.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/aliasing.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/assertions.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/connectors.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/cookies.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/cypress_api.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/files.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/local_storage.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/location.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/misc.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/navigation.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/network_requests.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/querying.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/spies_stubs_clocks.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/traversal.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/utilities.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/viewport.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/waiting.spec.js
cypress-tutorial-build-todo/cypress/integration/.examples.ignore/window.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/actions.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/aliasing.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/assertions.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/connectors.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/cookies.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/cypress_api.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/files.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/local_storage.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/location.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/misc.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/navigation.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/network_requests.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/querying.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/spies_stubs_clocks.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/traversal.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/utilities.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/viewport.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/waiting.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/window.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/actions.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/aliasing.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/assertions.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/connectors.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/cookies.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/cypress_api.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/files.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/local_storage.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/location.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/misc.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/navigation.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/network_requests.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/querying.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/spies_stubs_clocks.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/traversal.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/utilities.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/viewport.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/waiting.spec.js
cypress-tutorial-build-todo/cypress/integration/examples/window.spec.js
