.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr) );
  /* grid-auto-columns: minmax(auto, min-content); */
  grid-gap: 20px;
  margin-bottom: 10%;
}